.header__subtitle {
    position: absolute;
    margin: 0;
    max-width: 388px;  /* Чтобы не потерять отображение верстки при небольшом количестве текста */
    width: 100%;       /* внутри элемента - используйте связку max-width и width:100%   */
    line-height: 25px;
    font-size: 18px;
    font-weight: normal;
    z-index: 4;
    bottom: 30px;
    left: 64px;
  }